html,body{
    height: 100%;
    width: 100%;
}
#page
{
    height: 100%;
    width: 100%;
    background-color: lightpink;
}
nav
{
    padding: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}